<!DOCTYPE html>
<html>
<head>
  <title>lillian.link chat shrine</title>
  <meta charset="UTF-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link href="/theme/chat-shrine.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/png" href="/theme/images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/theme/images/favicon-16x16.png" sizes="16x16" />
  <link href="https://fonts.googleapis.com/css?family=Codystar" rel="stylesheet">
</head>
<body>

<ul>
  <li><a href="/index.html">home/back</a></li>
  <li><a href="http://staticfuzz.com/">use memories</a></li>
</ul>

<div class="chat-shrine-container">
  <iframe class="chat-shrine-iframe" src="https://kiwiirc.com/client/irc.freenode.net/?nick=princess|?&theme=mini#lillian.link" style="border:0; width:100%; height:450px;"></iframe>
</div>

<p><strong>This cycle's meditation:</strong> Gaze toward Eastern Star and meditate three moon cycles on the third level.</p>

<script type="text/javascript">
  // Do/change stuff based on time of day
  var today = new Date().getHours();

</script>

</body>
</html>
