{% extends "base.html" %}
{% set active_page = "homepage" %}
{% block title %}about{% endblock %}
{% block article_title %}You've got Lillian's link{% endblock %}

{% block body %}
  <p><img src="images/dice.png"></p>
  <p>Lily enjoys <a href="https://en.lichess.org/@/Lily-Seabreeze">playing chess</a>, cartoons, video games, board/tabletop games, <a href="https://github.com/lily-seabreeze">programming</a>, and <a href="art.html">making art</a>. <a href="http://lily.seabreeze.pro">Lily is a professional software engineer</a> in Minneapolis, Minnesota, but is actually from outer space.</p>
{% endblock %}
