:root {
  --color-primary: #65FEE5;
  --color-secondary: #93EDD4;;
  --color-secondary-dark: #3CBAC8;
  --color-compliment: #F9CB8F;
  --color-compliment-dark: #F19181;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  color: #fff !important;
  text-align: center;
  background-color: #000;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-family: 'Codystar';
  background-image: url(images/chat-shrine-true-background.png);
  background-attachment: fixed;
  background-size: cover;
}

.pseudo-background {
  min-height: 100vh;
  width: 100%;
  background-image: url(images/chat-shrine-background.png);
  background-size: cover;
}

/* needs frame */
.chat-shrine-container {
  background-image: url(images/chat-shrine-frame.png);
  position: relative;
  z-index: 0;

  width: 600px;
  height: 450px;

  margin: auto;
  padding: 40px;

  box-shadow: 10px 10px 10px #8de1d3;

}

.chat-shrine-idol {
  opacity: 0.8;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.chat-shrine-container::after {
  /* gif loop of static to overlay */
  z-index: 8888888;
  content: ' ';
  display: block;
  background-size: cover;
  pointer-events: none;
  background-image: url(images/chat-shrine-overlay.gif);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.1;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  display: block;
  padding: 0;
  width: 680px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

ul a {
  color: #fff !important;
}

ul li {
  display: inline-block;
}

p::before {
  content: ' ';
  display: block;
}

p {
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 1;
  display: block;
  padding: 3rem 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  width: 600px;
}
